* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #005A43;
    font-family: "Work Sans", sans-serif;
    display: flex;
    justify-content: center;
}

.homepage-container {
    width: 100%;
    margin: 0 auto;
}

.title {
    font-size: 3rem;
    color: white;
    text-align: center;
}

.homepage {
    display: flex;
    align-items: center;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#start-btn {
    font-family: "Work Sans", sans-serif;
    margin-top: 1em;
    width: 300px;
    padding: 1em 2em;
    text-align: center;
    font-size: 1.5rem;
    background-color: #EBF199;
    border: none;
    border-radius: 50px;
}

#start-btn:hover {
    opacity: 0.75
}

#start-btn:active {
    transform: translateY(-10px);
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em 0;
}

.form-input {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 1.5rem;
    color: white;
    flex-direction: row-reverse;
    min-width: 250px;
}

.form-question {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.form-answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #047111;
    border-radius: 50px;
    padding: 1.2rem 0;
    margin-top: 1rem;
    gap: 20px;
}

.radio-btn {
    transform: scale(1.5);
}

.submit-btn {
    padding: 1em 2em;
    font-size: 1rem;
    background-color: #EBF199;
    border: none;
    border-radius: 50px;
    margin-top: 1em;
    width: 30%;
    min-width: 200px;
    align-self: center;
}

.submit-btn:hover {
    opacity: 0.75
}

.submit-btn:active {
    transform: translateY(-10px);
}

.chosen-club {
    font-size: 3rem;
    color: white;
}

.loader {
	positions: absolute;
	width: 100%;
	height: 100vh;
	z-index: 1;
	overtflow: visible;
	background: url(../assets/Loading_Icon.gif) no-repeat center center;
}
